.awesome-section {
     background-color: white;
}

.awesome-container {
     margin-top: 80px; 
}

.awesome-head {
    margin-bottom: 68px;
}

.awesome-columns {
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     margin: 0px -16px 96px -16px; 
}

.awesome-item {
     flex: 0 1 33.3%;
     display: flex;
     flex-direction: column;
     min-width: 350px;
     align-items:center;
     padding: 0px 16px;
}

.awesome-item_title {
     font-family: "OpenSans-Bold","Arial", sans-serif;
     font-style: normal;
     font-weight: bold;
     font-size: 20px;
     line-height: 27px;
     color: #333333;
     text-align: center;
}

.awesome-item_title:before {
     content: "";
     background-repeat: no-repeat;
     background-position: center;
     background-color: white;
     width: 70px;
     height: 70px;
     display: block;
     border-radius: 100%;
     border: 1px solid #D98943;
     margin: 0px auto 30px;
}

.awesome-item_title.lamp_title:before {
     background-image: url("../img/lamp.png");
}

.awesome-item_title.keyboard_title:before {
     background-image: url("../img/keyboard.png");
}

.awesome-item_title.lightning_title:before {
     background-image: url("../img/lightning.png");
}

.awesome-item_text {
     font-family: "OpenSans-Regular","Arial", sans-serif;
     font-style: normal;
     font-weight: normal;
     line-height: 19px;
     text-align: center;
     color: #000000;
     margin: 16px 0px 20px 0px;
}

@media (max-width: 1140px) {
     .awesome-columns {
         margin-bottom: 66px; 
     }
     .awesome-item {
          margin-bottom: 30px;
     }
 }
