.axit-section {
    padding-top: 108px;
    padding-bottom: 112px; 
    width: 100%;
    background: url(../img/background.png) center;
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
}

.axit-section::before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.45);
}

.axit-container {
    position: relative;
    z-index: 2;
}

.axit-columns {
    display: flex;
    justify-content: space-between;
}

.axit-item {
    flex: 0 1 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 550px;
}

.axit-head {
    align-items: flex-start;
}

.axit-logo_text {
    font-family: "Roboto","Arial", sans-serif;
    font-size: 60px;
}

.axit-logo_text::after {
    font-family: "Roboto","Arial", sans-serif;
    font-size: 60px;    
    top: 0;
    left: 1.25em;
}

.axit-title {
    display: block;
    color: #fff;
    padding-top: 32px;
    text-align: start;
}

.axit-title::after {
    margin:32px 0px;
    background-color: #fff;
}

.axit-description {
    display: block;
    max-width: 280px;
    font-family: "Raleway-Regular","Arial", sans-serif;
    text-align: start;
    font-size: 16px;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.8);
}

.axit-button {
    padding-top: 50px;
}

.axit-login-form {
    flex: 0 1 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    max-width: 370px;
    background: #FFFFFF;
    border-radius: 8px;
}

.login-form-item {
    flex: 1 1 auto;
}

.login-form-item .login-form_field:nth-last-child(1) {
    padding-bottom: 61px;
}

.login-form-title {
    padding: 22px 0px 44px 0px;
}

.login-form-title_text {
    font-family: "OpenSans-Bold","Arial", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    color: #333333;
}

.login-form-title-red {
    text-transform: uppercase;
    color: #EC7979;
}

.login-form_field {
    padding-bottom: 20px;
}

.login-form_field input {
    line-height: 19px;
}

.login-button {
    text-align: center;
    width: 100%;
}
    
.login-button_start {
    font-family: "OpenSans-Regular","Arial", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 53px;
    text-align: center;
    color: #FFFFFF;
    background: #EC7979;
    border-radius: 0px 0px 8px 8px;
    transition-duration: 0.8s;
    width: 100%;
}
    
.login-button_start:hover {
    background-color: black;
}

@media (max-width: 950px) {
    .axit-columns {
        display: flex;
        flex-direction: column;
    }
    .axit-item {
        padding-bottom: 60px;
    }
    .axit-head {
        align-items:center;
    }
    .axit-title {
        text-align: center;
    }
    .axit-title::after {
        margin:32px auto;
        background-color: #fff;
    }
    .axit-button {
        margin: 0px auto;
    } 
    .axit-login-form {
        flex: 1 1 auto;
    }
    .login-form-item {
        padding: 0px 50px 0px 50px;
    }      
}