.contact-section {
    background-color: white;
    padding-bottom: 44px; 
}

.contact-head {
    margin-bottom: 95px;
}

.contact-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 -15px;
}

.contact-form-item {
    flex: 0 1 40%;
    display: flex;
    flex-direction: column;
    min-width: 500px;
    margin: 0 15px;
}

.contact-form_field {
    margin-bottom: 31px;
}

.contact-form_field:nth-last-child(1) {
    margin-bottom: 68px;
}

.contact-form_field input {
    margin-top: 5px;
    line-height: 35px;    
}

#contact-message {
    margin-top: 5px;
    width: 100%;
    height: 208px;
	resize: none;
    overflow: auto;
    border-bottom: 1px solid #BDBDBD;
}

#contact-message:focus {
    border-bottom: 1px solid black;
    box-shadow: 1px 1px 2px 0 black;
}

#contact-message:active {
    border-bottom: 1px solid black;
    box-shadow: 1px 1px 2px 0 black;
}

.contact-button {
    flex: 0 1 100%;
    text-align: center;
    margin: 0 15px;    
}

.contact-button_send {
    display: inline-block;
    font-family: "OpenSans-Regular","Arial", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    text-align: center;
    color: #FFFFFF;
    background: #EC7979;
    border: 1px solid #FFFFFF;
    padding: 11px 32px;
    transition-duration: 0.8s;
}

.contact-button_send:hover {
    background-color: black;
}

@media (max-width: 1060px) {
    .contact-form {
        flex-direction: column;
        align-items: center;
    }
    .contact-form-item {
        min-width: 80%;
    }     
}