.customers-section {
    background-color: white;
}

.customers-container {
    margin-top: 80px; 
}

.customers-head {
   margin-bottom: 62px;
}

.customers-columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0px -50px 120px -50px; 
}

.customers-item {
    flex: 0 1 33.3%;
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    min-width: 300px;
    padding: 0px 50px;
}

.customers-speach {
    flex: 1 1 auto;
    border-radius: 7px;
    background-color: #E2E2E2;
    text-align: center;
    position: relative;
}

.customers-speach:after {
   content: '';
   width: 0;
   border: 12px solid transparent;
   border-top: 12px solid #E2E2E2;
   position: absolute;
   left: 15%;
   margin-left: -12px;
}

.customers-speach_text {
    font-family: "OpenSans-Regular","Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 19px;
    color: #86878B;
    padding: 9px 22px 6px 23px;
}

.customers-card {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    margin-top: 22px;
    margin-left: 15%;
}

.customers-foto {
    flex: 1 1 50%;
}

.customers-avatar {
    width: 70px;
    height: 70px;
    border-radius: 100%;
    object-fit: cover;
}

.customers-info {
    flex: 1 1 50%;
    margin-top: 8px;
    margin-right: 15%;
}

.customers-name {
    font-family: "OpenSans-Regular","Arial", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    color: #333333;
    margin-bottom: 12px;
    text-align: end;
}

.customers-profession {
    font-family: "OpenSans-Regular","Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 19px;
    color: #86878B;
    text-align: end;
}

@media (max-width: 1140px) {
    .customers-columns {
        margin-bottom: 90px;  
    }
    .customers-item {
        margin-bottom: 30px;          
    }
    .customers-card {
        margin-left: 0%;
    }
    .customers-description {
        margin-right: 0%;
    }
}
