.customers-section {
    background-color: white;
    padding-bottom: 120px; 
}

.customers-head {
    margin-bottom: 67px;
}

.customers-columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0px -15px; 
}

.customers-item {
    flex: 0 1 30%;
    display: flex;
    flex-direction: column;
    min-width: 300px;
    margin: 0px 15px;
}

.customers-speach {
    flex: 1 1 auto;
    border-radius: 7px;
    background-color: #E2E2E2;
    text-align: center;
    position: relative;
    margin-bottom: 22px;
}

.customers-speach:after {
   content: '';
   width: 0;
   border: 12px solid transparent;
   border-top: 12px solid #E2E2E2;
   position: absolute;
   left: 15%;
   top: 100%;
}

.customers-speach_text {
    font-family: "OpenSans-Regular","Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 19px;
    color: #86878B;
    padding: 9px 22px 6px 23px;
}

.customers-card {
    flex: 0 1 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.customers-avatar {
    width: 70px;
    height: 70px;
    border-radius: 100%;
    object-fit: cover;
}

.customers-name {
    font-family: "OpenSans-Regular","Arial", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    color: #333333;
    margin-bottom: 12px;
    text-align: end;
}

.customers-profession {
    font-family: "OpenSans-Regular","Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 19px;
    color: #86878B;
    text-align: end;
}

@media (max-width: 990px) {
    .customers-section {
        padding-bottom: 60px;
    }
    .customers-columns {
        justify-content: space-evenly;
    }
    .customers-item {
        margin-bottom: 60px;
    }
}

@media (max-width: 660px) {
    .customers-item {
        flex: 0 1 75%;
    }
}



