.features-section {
    background-color: white;
    padding-top: 100px;
    padding-bottom: 125px; 
}

.features-columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0px -15px; 
}

.features-content-wrapper {
    display: flex;
    flex: 0 1 70%;
    justify-content: space-between;
}

.tab-column, .item-column, .image-column {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    margin: 0px 15px;
}

.tab-column {
    flex:0 1 auto;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    margin-bottom: -10px;
}

.item-column {
    flex:0 1 70%;
    min-width: 300px;
    margin-top: 25px;
}

.image-column {
    flex:0 1 auto;
}

.features-tab-button {
    display: block;
    font-family: "OpenSans-Regular","Arial", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #333333;
    border-radius: 4px;
    padding: 45px 35px;
    margin-bottom: 10px;
    transition-duration: 0.8s;
}
    
.features-tab-button:hover {
    background-color: #EC7979;
}

.features-item_title {
    font-family: "OpenSans-Regular","Arial", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    text-transform: uppercase;
    color: #000;
    margin-bottom: 58px;
}

.features-item_text {
    display: block;
    font-family: "OpenSans-Regular","Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    text-transform: uppercase;
    color: #86878B;
    margin-bottom: 20px;
}

.features-item_text:nth-last-of-type(1) {
    flex: 1 1 auto;
}

.features-button {
    background: #EC7979;
    border: none;   
}

.features-button:hover {
    color: white;
    background-color: #333333;
}

@media (max-width: 1170px) {
    .features-columns {
        flex-direction: column-reverse;    }
    .tab-column {
        flex-direction: row;
        justify-content: space-evenly;
        margin: 0px;
    }
    .features-content-wrapper {
        flex-direction: column;
    }
    .item-column {
        align-items: center;
        margin-top: 45px;
    }
    .image-column {
        align-items: center;
        margin-bottom: 25px;
    }
    .features-tab-button {
        padding: 36px 28px;
        transform: scale(0.8);
        margin: 15px;
    }
    .features-item_title {
        text-align: center;
    }   
}
@media (max-width: 425px) {
    .features-tab-button {
        padding: 27px 21px;
        transform: scale(0.6);
    }
}


