header {
    background: #000000;
    padding-top: 20px;
    padding-bottom: 19px; 
}

.header-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.header-menu {
    text-align: center;
}

ul.header-menu-list li {
    display: inline;    
}

.header-menu-list a {
    display: inline-block;
    font-family: "OpenSans-Regular","Arial", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.7);    
    cursor: pointer;
    text-align: center;
    margin: 0px 20px;
    border-left: 3px solid transparent;
    border-bottom: 3px solid transparent;
    transition: all 0.25s ease 0.2s;
}

.header-logo_text {
    font-family: "Raleway-Regular","Arial", sans-serif;
    font-size: 30px;
}

.header-logo_text::after {
    font-family: "Raleway-Regular","Arial", sans-serif;
    font-size: 30px;    
    top: 0.1em;
    left: 1.25em;
}

.header-menu-list a:hover {
    color: #D98943;
    border-left-color: #D98943;
    border-bottom-color: #D98943;
}

@media (max-width: 950px) {
    header {
        padding-bottom: 9px; 
    }
    .header-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .header-logo {
        text-align: center;
        padding-bottom: 5px;
    }
    .header-menu-list a {
        padding-top: 5px;
        padding-bottom: 10px; 
    }
}
