.pricing-section {
    background-color: #F5F5F5;
}

.pricing-head {
    margin-bottom:62px;
}

.pricing-columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 -15px;
}

.pricing-item {
    flex: 0 1 auto;
    display: flex;
    flex-direction: column;
    align-items:center;
    margin: 0 15px;
    transition: all 0.25s ease 0.2s;
}

.pricing-item_list li {
    font-family: "OpenSans-Regular","Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 19px;
    text-align: center;
    color: #86878B;
    box-sizing: border-box;
    min-width: 300px;
    border-bottom: 4px solid #E5E5E5;
    background-color: white;
    line-height: 50px;
}

.pricing-item_list li:nth-child(1) {
    font-family: "OpenSans-Bold","Arial", sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: #FFFFFF;
    border-bottom: 1px solid #E5E5E5;
    background-color: #333333;
}

.pricing-item_list li:nth-child(2) {
    font-family: "Raleway-Regular","Arial", sans-serif;
    font-weight: 700;
    font-size: 35px;
    line-height: 100px;
    color: #FFFFFF;
    border-bottom: 2px solid #E5E5E5;
    background-color: #333333;
}

.pricing-item_list li:nth-child(3) {
    font-weight: 600;
    color: rgba(255, 255, 255, 0.5);
    background-color: #333333;
}

.pricing-item_list li:hover {
    background-color: #D98943;
    color: #212121;
}

.pricing-item:hover {
    transform: scale(1.2);
}

@media (max-width: 990px) {
    .pricing-section {
        padding-bottom: 0px;
    }
    .pricing-columns {
        justify-content: space-evenly;
    }
    .pricing-item {
        margin-bottom: 60px;
    }
}

@media (max-width: 770px) {
    .pricing-columns {
        flex-direction: column;
        justify-content: center;
    }    
}

@media (max-width: 400px) {
    .pricing-item_list li {
        min-width: 250px;
    }  
}
