.social-media-section {
    background: #F8EFEF;
    padding-top: 14px;
    padding-bottom: 17px; 
}

.social-media-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.social-media-item {
    max-width: 350px;
}

.social-media-title {
    font-family: "OpenSans-Bold","Arial", sans-serif;
     font-style: normal;
     font-weight: 700;
     font-size: 20px;
     color: #333333;
     padding-bottom: 14px;
}

.social-media-description {
    font-family: "OpenSans-Regular","Arial", sans-serif;
     font-style: normal;
     font-weight: normal;
     line-height: 19px;
     color: #86878B;     
}

.social-media-networks {
    text-align: center;
}

.social-media-networks-list a {
    color: #86878B;     
    font-size: 36px;
    line-height: 42px;    
    margin: 0px 20px;
}

.social-media-networks-list a:hover {
    color: #D98943;
    transform: scale(2.0);
}

@media (max-width: 950px) {
    .social-media-section {
        padding-bottom: 0px; 
    }
    .social-media-item {
        padding-bottom: 17px; 

    }
    .social-media-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .social-media-item {
        text-align: center;
    }
    .social-media-networks-list a {
        padding-top: 5px;
        padding-bottom: 17px; 
    }
}