.social-media-section {
    background: #F8EFEF;
    padding-top: 14px;
    padding-bottom: 17px; 
}

.social-media-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0px -15px;
}

.social-media-item {
    flex: 0 1 30%;
    margin: 0px 15px;
}

.social-media-title {
    font-family: "OpenSans-Bold","Arial", sans-serif;
     font-style: normal;
     font-weight: 700;
     font-size: 20px;
     color: #333333;
     margin-bottom: 14px;
}

.social-media-description {
    font-family: "OpenSans-Regular","Arial", sans-serif;
     font-style: normal;
     font-weight: normal;
     line-height: 19px;
     color: #86878B;     
}

.social-media-networks {
    flex: 0 1 auto;
    margin: 0px 15px;
}

.social-media-networks-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.social-media-networks-list li {
    margin: 0px 20px;
}

.social-media-networks-list li:nth-last-child(1) {
    margin-right: 0px;
}

.social-media-networks-list a {
    color: #86878B;     
    font-size: 36px;
    line-height: 42px;    
}

.social-media-networks-list.a:nth-last-child(1) {
    margin-right: 0px;
}

.social-media-networks-list a:hover {
    color: #D98943;
    transform: scale(2.0);
}

@media (max-width: 950px) {
    .social-media-section {
        padding-bottom: 0px;       
    }
    .social-media-item {
        margin-bottom: 20px;
    }
    .social-media-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .social-media-item {
        text-align: center;
    }
    .social-media-networks-list {
        justify-content: center;       
    }
    .social-media-networks-list li {
        margin-bottom: 20px;       
    }
}