.main-section {
    padding: 0.1px; 
}

.section-container {
    max-width: 1170px;
    margin: 0 auto;
    padding:0 15px;
}

.container-head {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-title {
    font-family: "Raleway-Regular","Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    color: #212121;
    text-transform: uppercase;
    text-align: center;
}

.section-title::after {
    content: "";
    display: block;
    margin:34px auto;
    width: 64px;
    height: 2px;
    background-color: #D98943;
}

.section-description {
    font-family: "OpenSans-Regular","Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    color: #86878B;
    text-align: center;
}

ul.social-networks-list li {
    display: inline;    
}

.social-networks-list a {
    display: inline-block;
    font-weight: 900;
    color: #FFFFFF;
    background: transparent;
    cursor: pointer;
    text-align: center;
    transition: all 0.25s ease 0.2s;
}