.footer-top {
    padding: 71px 0 88px 0;
    background-color: $ColorModeratePurpleBlue;
    @media (max-width:891px) {
        padding-bottom: 30px;
    }
    .footer-colums_wrapper {
        max-width: 1045px;
        padding: 0px 30px;
        margin: 0 auto;        
    }
}

.footer-columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 -30px;
    @media (max-width:891px) {
        justify-content: center;
    }
    @media (max-width:600px) {
        flex-direction: column;;
    }
    .footer-item {
        display: flex;
        flex: 0 1 30%;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 0px 30px;
        @media (max-width:891px) {
            margin-bottom: 58px;
        }
        &_title {
            color: $ColorWhite;
            font-family: 'Raleway', Arial, sans-serif;
            font-weight: 700;
            text-transform: uppercase;
            margin-bottom: 21px;
        }
        &_text {
            opacity: 0.5;
            color: $ColorWhite;
            font-family: 'Raleway', Arial, sans-serif;
            line-height: 22.5px;
        }
    }
    .location {
        flex: 0 1 32%;
        padding: 0px 90px;
        @media (max-width:891px) {
            flex: 0 1 38%;
            padding: 0px 60px;
        }
        @media (max-width:600px) {
            flex: 0 1 38%;
            padding: 0px 30px;
        }                
    }
    .share {
        flex: 0 1 15%;        
        li {
            margin:0px 3.5px;
            &:hover {
                .footer-facebook_link {
                    color: $ColorFacebook;
                    background: $ColorWhite;
                    border: 2px solid $ColorFacebook;
                }
                .footer-twitter_link {
                    color: $ColorTwitter;
                    background: $ColorWhite;
                    border: 2px solid $ColorTwitter;
                }
                .footer-instagram_link {
                    color: $ColorInstagram;
                    background: $ColorWhite;
                    border: 2px solid $ColorInstagram;
                }
                
            }
            a {
                color: $ColorWhite;
                border: 2px solid $ColorWhite;
                border-radius: 2px;                     
            }
        }        
    }
    .about {
        flex: 0 1 32%;
        @media (max-width:891px) {
            flex: 0 1 45%;
        }               
    }
}

.footer-bottom {
    padding: 29px 0px;
    background-color: $ColorGranite;
    span {
        display: block;
        text-align: center;
        color: $ColorGrey;
        font-family: 'Raleway', Arial, sans-serif;
        line-height: 22.5px;
    }
    .author_link {
        color: $ColorWhite;
        font-family: 'Raleway', Arial, sans-serif;        
    }
    .fa-heart {
        color: $ColorDeepYellowPink;
        margin: 0px 7px;
    }    
}
    


        
   