// Импорт стилей
@import "reset.scss";
@import "variable.scss";
@import "font.scss";
@import "header.scss";
@import "main.scss";
@import "footer.scss";

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

a {
    display: inline-block;
}

.button {
    display: inline-block;
    color: $ColorWhite;
    font-family: 'Raleway', Arial, sans-serif;
    font-size: 13px;
    font-style: normal;
    letter-spacing: normal;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    padding: 18px 46px;
    transition-duration: 0.8s;
}

.content {
    padding: 120px 0px;
}